<h1>Login User Form</h1>
<a href="/log-in">Log In</a>





<h1>Search Form</h1>
<%= form_tag("/search", method: "get") do %>
	<%=label_tag(:query, "Search:") %>
	<%=text_field_tag(:query) %>
	<%=submit_tag("Submit")%>
<% end %>
